.exchange {
    width: 425px;
    margin: 0 auto;
    margin-top: 15px;
}

.exchange form {
    font-size: 19px;
}

.exchange input {
    border: 1px solid gray;
    margin: 5px 0px 5px 10px;
    width: 330px;
    height: 30px;
}

.exchange input:focus {
    outline: 1px solid rgb(15, 99, 133);
}

.exchange > p {
    font-size: 18px;
    position: relative;
    display: inline-block;
    left: 10px;
    padding: 10px;
    border: 3px double rgb(95, 127, 196);
    border-radius: 20px;
}

.price {
    font-weight: bold;
    margin-left: 20px;
}