.exchange {
    width: 425px;
    margin: 0 50vw;
    margin-top: 20px;
}

.exchange form {
    font-size: 19px;
}

.exchange input {
    border: 1px solid gray;
    margin: 5px 0px 5px 10px;
    width: 330px;
    height: 42px;
    font-size: 15px;
}

.exchange input:focus {
    outline: 1px solid rgb(15, 99, 133);
}

.exchange > p {
    font-size: 18px;
    position: relative;
    display: inline-block;
    left: 10px;
    padding: 10px;
    border: 3px double rgb(95, 127, 196);
    border-radius: 20px;
} /* 없어도 되는 스타일 */

.price {
    float: right;
    font-weight: bold;
    margin-right: 45px;
}

.price span:nth-child(1) {
    color: #555;
    font-size: 1.1em;
    padding: 0.2em 0.5em;
    background-color: #f0f0f0;
    border: 1px solid #d1dbdb;
    border-right-style: none;
}

.price span:nth-child(2) {
    color: #28a745;
    font-size: 1.1em;
    padding: 0.2em 0.5em;
    background-color: #ffe6f6;
    border: 1px solid #d1dbdb;
    border-left-style: none;
}