.exchange {
    position: relative;
    left: 35vw;
}

.exchange input {
    margin: 5px;
    width: 150px;
    height: 20px;
}

.exchange > p {
    font-size: 18px;
    position: relative;
    display: inline-block;
    left: 10px;
    padding: 10px;
    border: 3px double rgb(95, 127, 196);
    border-radius: 20px;
}

.exchange button:hover {
    background-color: rgb(95, 127, 196);
}