.ticker td:nth-child(1) {
    width: 180px;
}

.ticker td:nth-child(1):hover {
    background-color: rgb(216, 190, 190);
}

.ticker th {
    position: sticky;
    z-index: 1;
    top: 0px;
    background-color: rgb(228, 228, 227);
    font-weight: bold;
}

.ticker td {
    font-size: 15px;
}

.ai-container {
    position: absolute;
    border: 1px solid #b3b3b3;
    left: 70vw;
    top: 59vh;
}

.ai {
    background-color: rgb(253, 252, 252);
}

.ai * {
    font-family: 'Pretendard-Regular' !important;
}

.ai thead:nth-child(1) {
    background-color: #c1cdf7;
}

.ai thead:nth-child(2) {
    background-color: #cbedfc;
}

.ai th {
    padding: 3px !important;
    font-size: 16px;
    font-weight: bold;
}

.ai td {
    padding: 10px !important;
    font-size: 15px;
}