.signup {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.signup input {
    width: 200px;
    height: 30px;
    margin: 5px;
}

.signup button {
    background-color: rgb(63, 29, 156);
    left: 140px;
    padding: 10px;
}