@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GyeonggiMillenniumTitle';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2410-3@1.0/Title_Light.woff') format('woff');
  font-weight: 300;
  font-display: swap;
}

body {
  background-color: azure;
  overflow-x: hidden;
}

body, div, span {
  font-family: 'GyeonggiMillenniumTitle' !important;
}

button, input {
  font-family: 'GmarketSansMedium' !important;
}